/* Header background colour */
.google-visualization-table-th.gradient {
   background:#4b4a4d!important;
}

/* Hedaer font alignment */
.google-visualization-table-th {
   text-align: right;
}

/* Header font colour */
th {
   color: white!important;
}
/* Header Font Type */
th {
   font-family: 'Quicksand, sans-serif;
}

.google-visualization-table-table {
    font-family: arial , helvetica;
    font-size: 10pt;
    cursor: default;
    margin: 0;
    background: #1A2BF8;
    border-spacing: 0;
    border-collapse: separate;
}

/* Content Font Colour */
td {
   color: white;
}

/* Content Background Colour */
.google-visualization-table-table {
    font-family: arial , helvetica;
    font-size: 10pt;
    cursor: default;
    margin: 0;
    background: #1A3CF8!important;
    border-spacing: 0;
    border-collapse: separate;
}

/* Transparent Separator */
.google-visualization-table-table th, .google-visualization-table-table td {
    border: solid #502b2b00;
    border-width: 0 1px 1px 0;
    padding: 2px .35em;
    background-color: blue;
}


